body {
    font-family: 'poppins';
    padding: 0px;
    margin: 0px;
}

.container {
    margin-left: 30px;
    color: #000;
    padding: 5px;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

#calculatorSelect {
    width: 440px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#shapeSelect {
    width: 440px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#fibonacciInput {
    width: 409px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button {
    width: 146px;
    padding: 12px;
    flex-shrink: 0;
    border: none;
    border-radius: 6px;
    background-color: #4ECDC4;
    color: #F5F5F5;
    font-weight: bold;
}

.button:hover {
    background-color: #292F36;
}

option {
    font-size: 14px;
}
input[type=number] {
    padding: 15px;
}

select {
    padding: 15px;
}

select option {
    font-size: 14px;
    background: #F5F5F5;
}

.kanan {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kiri {
    background-color: #4ECDC4;
    width: 100%;
    height: 100%;
}

h1 {
    color: #292F36;
    text-align: center;
    font-size: 30px;
}

img {
    height: 200px;
    display: block;
    margin: 0px auto;
}

.kiri p {
    text-align: center;
}

#kubusSisi {
    width: 409px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

#balokPanjang {
    width: 409px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

#balokLebar {
    width: 409px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
}

#balokTinggi {
    width: 409px;
    background-color: #F5F5F5;
    border: none;
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

#tabungRadius {
    width: 409px;
    background-color: #F5F5F5;
    border: none;
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

#tabungTinggi{
    width: 409px;
    background-color: #F5F5F5;
    border: none;
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.identitas {
    font-size: 8px;
    margin-bottom: 50px;
}

@media screen and (min-width: 900px) {
    .split-screen {
        flex-direction: row;
        height: 120vh;
        padding: 10px;
    }

    .kanan .kiri {
        flex-direction: column;
        display: flex;
        height: 50%;
        width: auto;
    } 

    .kiri {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}

}